.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    animation: show 0.5s;
}
.popup-hidden {
    animation: hidden 0.5s;
}
.popup__content {
    position: absolute;
    top: calc(100vh/2 - 250px);
    left: calc(100vw/2 - 250px);
    background-color: rgba(224, 223, 223, 0.97);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content__text {
    margin: 40px 60px 40px 40px;
    width: 500px;
    font-size: 2rem;
}
.popup_close {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    background-image: url("../img/closed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 26px;
    height: 26px;
    border-radius: 5px;
}

@keyframes show {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes hidden {
    0% { opacity: 1; }
    100% { opacity: 0; }
}