@import url(../css/reset.css);
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    
}
.task1 {
    position: relative;
    height: 500px;
    width: 400px;
}
.task2 {
    position: relative;
    height: 400px;
    width: 400px;
}